*::before,
*::after {
  box-sizing: border-box;
  display: contents;
}
body {
  margin: 0;

  background-color: rgb(224, 220, 220);

  font-family: "Amatic Sc", sans-serif;
  text-align: center;
  font-size: 2rem;
}
table {
  table-layout: fixed;

  margin: auto;
  border-collapse: collapse;
}
table,
th,
td {
  background-color: #b7e2e7;
  border: 1px solid black;

  padding-right: 17px;
}

.highlight {
  background-color: yellow;
}
form {
  text-align: center;
}
form button {
  cursor: pointer;
  background-color: #208cb2;
  color: #ffffff;
  border: none;
  width: 130px;
  min-height: 39px;
  font-weight: 700;
  font-family: "Amatic SC";
  border-radius: 2px;
  font-size: 1rem;
}
#player-card {
  display: inline-block;
  margin: 0;
}
tbody {
  display: inline-block;
}
